<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/Intellij_Projects/Alpha_AgentPortal_TestNG"><classes><class name="tests.add_KYC_tests.Create_Submit_Register_KYC_Tests"><methods><include name="submit_KYC"/><include name="register_KYC"/></methods></class><class name="tests.branch_movements_tests.Confirm_Cash_Movement_Test"><methods><include name="confirm_Cash_Movement"/></methods></class><class name="tests.cash_transactions_tests.cashIn_tests.CashIn_OffUs_Test"><methods><include name="money"/></methods></class><class name="tests.cash_transactions_tests.cashOut_tests.CashOut_OnUS_Test"><methods><include name="cashOut_OnUs_With_Fees"/></methods></class><class name="tests.login_tests.Login_Test"><methods><include name="login"/></methods></class></classes></test></suite>